<nz-descriptions nzBordered [nzColumn]="1">
  <nz-descriptions-item nzTitle="Tên phòng">{{ contract.roomName }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Tên người thuê">{{ contract.tenantName }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Ngày bắt đầu">{{ contract.startDate | date: 'dd/MM/yyyy' }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Ngày kết thúc">{{ contract.endDate | date: 'dd/MM/yyyy' }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Tiền cọc">{{ contract.depositAmout | number }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Tiền thuê hàng tháng">{{ contract.monthlyRent | number }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Trạng thái">{{ getStatusText(contract.statusContract) }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Người tạo">{{ contract.creatorUser }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Người cập nhật">{{ contract.updaterUser }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Ngày tạo">{{ contract.createdAt | date: 'dd/MM/yyyy HH:mm' }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Ngày cập nhật">{{ contract.updatedAt | date: 'dd/MM/yyyy HH:mm' }}</nz-descriptions-item>
</nz-descriptions>
