.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.filters {
  margin-bottom: 16px;
}

.actions {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-end;
}

